<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="public/styles/index.css" />

        <title>((project_name)) v1.0</title>
    </head>
    <body>
        <h1>Welcome to ((project_name))</h1>
    </body>
</html>
