* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    padding: 5%;
}

h1 {
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2 {
    color: darkorchid;
    font-family: 'Victor Mono';
}
